.help-desk {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.help-desk .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 50px;
    width: 100%;
}

.help-desk .header h1 {
    font-size: 30px;
    font-weight: bold;
}

.help-desk .header .search {
    width: 50%;
    height: 6vh;
}

.help-desk .header .search .header-input .relative {
    height: 100%;
}

.help-desk .header .search i {
    color: var(--secondary);
}

.help-desk .header .search i:first-child {
    font-size: 20px;
    padding-right: 5px;
}

.help-desk .header .search i:last-child {
    font-size: 25px;
}

.help-desk .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.help-desk .body h1 {
    font-size: 20px;
    font-weight: 500;
}

.help-desk .body h1 span {
    font-weight: bold;
}

.help-desk .body .cards {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.help-desk .body .cards .custom-card {
    width: 25%;
    background-color: var(--card) !important;
    color: #fff !important;
    padding: 20px !important;
    cursor: pointer;
    border: 2px solid transparent;
}

.help-desk .ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 55%;
    margin-bottom: 2rem;
}

.help-desk .ticket h1 {
    font-size: 20px;
    font-weight: bold;
}

.help-desk .ticket .ticket-card {
    width: 100%;
}

.help-desk .ticket .custom-card {
    width: 100% !important;
    background-color: var(--card) !important;
    color: #fff !important;
    border: 2px solid transparent;
}

.help-desk .ticket .ticket-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 10px;
}

.help-desk .ticket-card .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    flex-direction: row;
}

.help-desk .ticket-card .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.help-desk .ticket-card .footer #clear:hover {
    background-color: red !important;
    border: 2px solid transparent !important;
}

.help-desk .ticket #desc {
    height: 20vh !important;
}

.help-desk .ticket #desc label {
    position: absolute;
    top: 10px;
}

@media (max-width: 768px) {
    .help-desk {
        width: 100%;
        height: auto;
    }

    .help-desk .header {
        width: 100%;
        padding-top: 20px;
    }

    .help-desk .header h1 {
        font-size: 27px;
    }

    .help-desk .header .search {
        width: 90%;
    }

    .help-desk .body .cards {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    .help-desk .body .cards .custom-card {
        width: 90%;
    }

    .help-desk .ticket {
        width: 90%;
    }

    .help-desk .ticket-card .header {
        flex-direction: column;
        width: 100%;
    }

    .help-desk .ticket-card .footer {
        flex-direction: row;
    }

    .help-desk .ticket-card .footer button {
        width: 45%;
    }
}