.manage-attendance {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.manage-attendance .stats {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.manage-attendance .detailed-stat {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
}

.manage-attendance .stats .current-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 2px solid #343434;
  border-radius: 15px;
  padding: 15px;
  width: 25vw;
  height: 55vh;
}

.manage-attendance .stats .current-stat .time-sheet {
  width: 100%;
  color: var(--secondary);
  font-size: 16px;
  font-weight: bold;
}

.manage-attendance .stats .current-stat .time-sheet span {
  font-size: 13px;
  color: gray;
  font-weight: 600;
}

.manage-attendance .stats .current-stat .punch-in {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  flex-direction: column;
  gap: 0.3rem;
  border: 2px solid #343434;
  width: 95%;
  border-radius: 15px;
}

.manage-attendance .stats .current-stat .punch-in h3 {
  font-size: 15px;
  font-weight: bold;
}

.manage-attendance .stats .current-stat .punch-in p {
  font-size: 13px;
  font-weight: 600;
  color: gray;
}

.manage-attendance .current-stat button {
  width: 40%;
  padding: 15px;
}

.manage-attendance .current-stat .stat-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 2px solid #343434;
}

.manage-attendance .current-stat .stat-footer h3 {
  font-size: 15px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-attendance .current-stat .progress-bar {
  min-height: 15vh;
  display: flex;
}

.CircularProgressbar .CircularProgressbar-text {
  font-size: 15px !important;
}

.manage-attendance .stats .overall {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  border: 2px solid #343434;
  border-radius: 15px;
  padding: 15px;
  width: 25vw;
  height: 55vh;
}

.manage-attendance .stats .overall h1 {
  width: 100%;
  color: var(--secondary);
  font-size: 16px;
  font-weight: bold;
}

.manage-attendance .stats .activity {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 2rem;
  border: 2px solid #343434;
  border-radius: 15px;
  padding: 15px;
  width: 30vw;
  height: 55vh;
}

.manage-attendance .stats .activity h1 {
  width: 100%;
  color: var(--secondary);
  font-size: 16px;
  font-weight: bold;
}

.manage-attendance .stats .overall .progress {
  display: flex;
  flex-direction: column;
  border: 2px solid #343434;
  width: 95%;
  border-radius: 15px;
  padding: 10px;
  gap: 0.5rem;
}

.manage-attendance .stats .overall .progress-date {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  color: #b9b9b9;
}

.detailed-stat .daily-graph {
  width: 36%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 2px solid #343434;
  border-radius: 15px;
  padding: 15px;
  height: 30vh;
}

.detailed-stat .daily-graph h1 {
  width: 100%;
  color: var(--secondary);
  font-size: 16px;
  font-weight: bold;
}

.manage-attendance .table h1 {
  width: 100%;
  color: var(--secondary);
  font-size: 16px;
  font-weight: bold;
  /* padding: 5px; */
}

.manage-attendance .table {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.manage-attendance .table .table-wrapper {
  width: 100%;
  border: 2px solid var(--secondary);
  border-radius: 15px;
}

.manage-attendance table {
  border-collapse: collapse;
  width: 100%;
}

.manage-attendance td {
  text-align: left;
  padding: 8px;
}

.manage-attendance tbody tr:hover {
  background-color: var(--card);
}

.manage-attendance tbody td {
  min-width: 5vw;
}

.manage-attendance tbody tr td:last-child {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.manage-attendance tbody tr td i:nth-child(2) {
  color: #00ba00;
}

.manage-attendance tbody tr td i:last-child {
  color: red;
}

.manage-attendance th {
  background-color: var(--secondary);
  text-align: left;
  padding: 8px;
}

.manage-attendance .table-wrapper .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}

.manage-attendance .table-wrapper .header button {
  width: 10vw;
  height: 5vh;
}

.recharts-responsive-container {
  height: 100% !important;
  position: relative;
}

.daily-graph .recharts-responsive-container svg {
  position: absolute;
  top: -93px;
  height: 215% !important;
}