

.leave-req .modal-content .leave-form .item #reason {
    width: 110%;
}

.leave-req .summary .footer-btn {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.pending-history {
    width: 50vw;
}

.pending-history .pending-history table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.pending-history table {
    border-collapse: collapse;
    width: 100%;
}

.pending-history table tbody tr td {
    color: #b9b9b9;
}

.pending-history td {
    text-align: left;
    padding: 8px 8px 8px 0px;
}

.pending-history tbody td {
    min-width: 5vw;
}

.pending-history thead tr th,
.pending-history tbody tr td {
    text-align: left;
    font-size: 14px;
}

.pending-history .table-wrapper .table {
    width: 100%;
    height: 100%;
    position: relative;
}

.pending-history .table-wrapper thead {
    position: sticky;
    top: 0;
    background-color: var(--card);
}

.pending-history table tbody td:last-child {
    font-weight: bold;
}

.pending-history .table-wrapper {
    display: flex;
    min-height: 45vh;
    max-height: 45vh;
    overflow: auto;
    justify-content: space-between;
}

.pending-history .table {
    width: 100%;
}

.pending-history .table table tbody td i:first-child:hover {
    color: #00c200;
}

.pending-history .table table tbody td i:last-child:hover {
    color: #ff4949;
}