.chip {
    padding: 5px;
    cursor: pointer;
    text-align: center;
    max-width: 110%;
    width: fit-content;
}

.chip p {
    font-size: small;
}

.chip-semi {
    border-radius: 8px;
}

.chip-half {
    border-radius: 25px;
}

.chip-full {
    border-radius: 50%;
}

.chip-none {
    border-radius: 0;
}