.home {
    width: 100vw;
    height: 100%;
}

.app-container {
    margin-top: 0px !important;
}

.home .home-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    height: 100%;
    align-items: center;
    gap: 3rem;
}

.home-container .section-1 {
    display: flex;
    background-color: #918CFF;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 25px;
    width: 90%;
    height: 75vh;
}

.home-container .section-1 img {
    width: 40vw;
}

.home-container .section1-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.home-container .section1-item h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.section1-item p {
    font-size: 1.1rem;
    text-align: center;
}

.section1-item .section1-btn {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.section1-btn button {
    border-radius: 25px !important;
    padding: 25px 20px;
}

.home-container .section-2 {
    display: flex;
    background: rgb(251, 177, 254);
    background: linear-gradient(112deg, rgba(251, 177, 254, 1) 70%, rgba(217, 155, 254, 1) 85%);
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 25px;
    width: 90%;
    height: 75vh;
}

.home-container .section-2 img {
    width: 30vw;
}

.home-container .section2-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.home-container .section2-item h1 {
    font-size: 2rem;
    color: black;
    font-weight: bold;
}

.home-container .section2-item h2 {
    font-size: 1.1rem;
    color: black;
    font-weight: 500;
}

.home-container .section2-item i {
    color: green;
}

@media (max-width: 768px) {
    .home {
        height: 100%;
        width: 100vw;
    }

    nav img {
        width: 50vw;
    }

    .home-container {
        height: auto;
        width: auto;
    }

    .home-container .section-1 {
        width: 95%;
        height: auto;
        flex-direction: column;
    }

    .home-container .section-2 {
        width: 95%;
        height: 50vh;
    }

    .home-container h1 {
        font-size: 23px !important;
    }

    .home-container p {
        font-size: 15px !important;
    }

    .section-1 img {
        width: 90vw !important;
    }

    .section-2 img {
        display: none;
    }
}