.change-password .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.change-password .modal-body .custom-input {
    width: 100%;
}