.pageNF {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
    gap: 2rem;
}

.pageNF img{
    width: 25vw;
}

.pageNF button {
    width: 10vw;
}